.bg-color{
	min-height: 100vh;
	background-color: rgb(250, 250, 250);
}

.page-color-gradient{
	background:
	linear-gradient(to bottom, rgba(0,0,0,0) ,#fff 450rpx),
	linear-gradient(to right, #bbfff1,rgba(183, 234, 255, 1));	
	min-height: calc(100vh - 50rpx);
}

.bg-color-gradient2{
	background:
	linear-gradient(to bottom, rgba(0,0,0,0) ,#fff 500rpx),
	linear-gradient(to right, #bbfff1,rgba(183, 234, 255, 1));	
}

.bg-color-gradient3{
	/* width: 100%; */
	min-height: 100vh;
	background:
		linear-gradient(to bottom, transparent ,#fff 500rpx),
		radial-gradient(50% 70% at top left, #bbfff1, transparent),
		radial-gradient(50% 60% at bottom right, #D6A2E8,rgba(183, 234, 255, 1));
}	
	